.status {
    background-color: #3c3c3c;
    min-height: 500px;
    border: solid;
    border-color: black;
    color: white;
}

.taskCard {
    background-color: #616161;
    color: white;
    border: dotted;
    border-color: indigo;
}