html, body {
    margin: 0;
    height: 100%;
}

.status {
    background-color: #3c3c3c;
    color: white;
}

.statusName {
    background-color: #714dd2;
    font-size: 24px;
    color: white;
    text-align: center;
}

.taskCard {
    background-color: #616161;
    color: white;
    min-height: 100px;
    min-width: 315px;
    display: flex;
    align-items: center;
}

.inputNewTask {
    padding: 5px;
    background-color: #616161;
}

.placeholderTaskCard {
    background-color: #616161;
    color: white;
    min-height: 100px;
    min-width: 315px;
    display: flex;
    align-items: center;
}

.floatingTaskCard {
    background-color: #616161;
    color: white;
    min-height: 100px;
    min-width: 315px;
    display: flex;
    align-items: center;
}

