.status {
    background-color: #3c3c3c;
    min-height: 500px;
    border: solid;
    border-color: black;
    color: white;
}

.taskCard {
    background-color: #616161;
    color: white;
    border: dotted;
    border-color: indigo;
    position: static;
    min-height: 50px;
    min-width: 315px;
}

#myBox {
    background-color: red;
    max-width: 100px;
    min-height: 100px;
}

#myNewBox {
    background-color: green;
    max-width: 100px;
    min-height: 100px;
    position: relative;
}

#myInProgressBox {
    background-color: yellow;
    max-width: 100px;
    min-height: 100px;
    position: relative;
}