{% extends "base.html" %}

{% block content %}
  <div class="columns">
    <template v-for="status in statuses">
      <div class="column">
        <div class="statusName">
          [[ status ]]
        </div>
        <div class="status" :id="status">
          <ul>
            <div v-for="(task, index) in tasks" :key="task.name">
              <template v-if="task['status'] == status">
                <li class="taskCard"
                    @mousedown.stop="onMouseDown($event, index)">
                  [[ task['name'] ]]
                  <button @click="deleteTask(index)">Delete</button>
                </li>
              </template>
            </div>
          </ul>
          <div class="inputNewTask" v-if="status == 'New'">
            <b-field>
              <b-input v-model="task"
                placeholder="Please enter a task name...">
              </b-input>
            </b-field>
            <div class="buttons">
              <b-button label="Add Task" type="is-primary" @click="addTask">
              </b-button>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}

